@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>
<p>@Html.ActionLink("Register New User", "Register", "Account")</p>
<p>@Html.ActionLink("Change your Password", "Manage", "Account")</p> 