@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<div class="float-left">
    <p>@Html.ActionLink("Manage Accounts", "Manage", "Account")</p>
    <p>@Html.ActionLink("Create Report", "Create", "Inmate")</p>
    <p>@Html.ActionLink("Report", "Index", "Inmate")</p>
    <p>@Html.ActionLink("Register User", "Register", "Account")</p>





</div>